.bash_history
#.bash_logout
#.bash_profile
#.bashrc
#br10.xml
.cache
Calibre Library
#.cddb
#.colors
#colors-256.sh
#.config
#configs.sh
#.crontab
Desktop
#.dir_colors
.dmrc
#Documents
dotfiles
Downloads
.dropbox
Dropbox
.dropbox-dist
emacs_keys.txt
#.emacs.d
.fehbg
#.fonts.conf
#gb_cz_de
#.gdbinit
#.git
#.git-completion.bash
#.gitconfig
.git-credentials
github-pat.txt
#.gitignore
#global_kwin.kksrc
.gnupg
.gtk-bookmarks
.gtkrc-2.0
.histfile
.icons
#.inputrc
.kde4
#.konsole.css
krohnkite_keys.kksrc
#.less_colours.sh
.lesshst
.local
lua-language-server
#.mailrc
#.markdown.css
.mozilla
#.msmtprc
Music
#mykeys.khotkeys
.nb/
.nbrc
.npm
nvim
original-dotfiles
#.p10k.zsh
#packages_aur.txt
#packages.txt
#phil_arch_install.sh
Pictures
.pki
#plugins.txt
Public
.python_history
#rsync_exclude
#.screenlayout
#.set_prompt.sh
#Settings_RT-AX58U.CFG
#snapshots.md
src
.ssh
Templates
.thunderbird
#tj_nvim-cmp.lua
#us_cz
#us_eur_cz
Videos
.vim
.viminfo
#vim_keys.txt
#.vimrc
.vscode-oss
.wget-hsts
.Xauthority
#.Xmodmap
.xprofile
#.zfuncs
#.zprofile
#.zshrc
.xsession-errors
.xsession-errors.old
.zcompdump
.git.old/
.dotfiles/
.emacs.d.bak/
.MakeMKV/
.dvdcss/
Qsync/
