akonadi
akonadi_akonotes_resource_0rc
akonadi_contacts_resource_0rc
akonadi-firstrunrc
akonadi_ical_resource_0rc
akonadi_indexing_agentrc
akonadi_maildir_resource_0rc
akonadi-migrationrc
akregatorrc
#autostart
baloofileinformationrc
baloofilerc
bluedevilglobalrc
calibre
chromium
dconf
discoverrc
dolphinrc
drkonqirc
#emacs
emaildefaults
emailidentities
#emc#
#fish
#GIMP
gtk-3.0
gtk-4.0
gtkrc
gtkrc-2.0
gwenviewrc
htop
#hypr
#i3
kactivitymanagerdrc
kactivitymanagerd-statsrc
kalendaracrc
kateschemarc
kcmfonts
kcminputrc
kconf_updaterc
KDE
kdeconnect
kded5rc
kdedefaults
kdeglobals
kde.org
kglobalshortcutsrc
khotkeysrc
khtml
kinfocenterrc
kiorc
#kitty
kmail2rc
kminesrc
kmixctrlrc
kmixrc
konquerorrc
#konsolerc
konsolesshconfig
krunnerrc
kscreenlockerrc
kservicemenurc
ksmserverrc
ktimezonedrc
ktorrentrc
kwinrc
kwinrulesrc
kxkbrc
lazy
libaccounts-glib
libreoffice
libvirt
mimeapps.list
#neofetch
nvim
okularpartrc
okularrc
plasma-localerc
plasmanotifyrc
plasma-org.kde.plasma.desktop-appletsrc
plasmarc
plasmashellrc
plasma-welcomerc
#polybar
powerdevilrc
powermanagementprofilesrc
pulse
QtProject.conf
rofi
session
specialmailcollectionsrc
spectaclerc
systemsettingsrc
#Thunar
Trolltech.conf
Unknown Organization
user-dirs.dirs
user-dirs.locale
#Vial
#vifm
vlc
webengineurlinterceptoradblockrc
#wezterm
xfce4
xsettingsd
yay
